<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Access-Control-Allow-Origin" content="*" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>征信报告-详版</title> 
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /> 
  <link href="css/css.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="js/config.js"></script> 
  <script type="text/javascript" src="js/jquery.min.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script> 
   <script type="text/javascript" src="js/template-web.js"></script> 
 </head> 
 <body> 
  <div id="templateDiv"></div>
  <script type="text/template" id="template"> 
  <div class="container"> 
   <div class="panel panel-primary"> 
    <div class="panel-heading"> 
     <h3 class="panel-title">信息概要</h3> 
    </div> 
    <div class="panel-body"> 
     <div class="row"> 
      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         被查询者证件号码
        </dt>         
        <dd>
         {{if data.baseInfo!=null}}
           {{data.baseInfo.idcard}}
           {{/if}}
           {{if data.jgidcard!=null}}
           (从金管修复证件号:{{data.jgidcard}})
           {{/if}}
        </dd>        
        <dt>
         被查询者证件类型
        </dt> 
        <dd>
        {{if data.baseInfo!=null}}
          {{data.baseInfo.cardType}}
           {{/if}}
        </dd> 
        <dt>
         被查询者姓名
        </dt> 
        <dd>
        {{if data.baseInfo!=null}}
         {{data.baseInfo.name}}
          {{/if}}
        </dd> 
      
       </dl>
      </div> 
      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
          <dt>
         查询操作员
        </dt> 
        <dd>
{{if data.baseInfo!=null}}
        {{data.baseInfo.operator}}
         {{/if}}
        </dd> 
        <dt>
         查询原因
        </dt> 
        <dd>
        {{if data.baseInfo!=null}}
          {{data.baseInfo.queryReason}}
           {{/if}}
        </dd>
        <dt>
         报告编号
        </dt> 
        <dd>
           {{data.reportNo}}
        </dd> 
       </dl>
      </div> 
     </div> 
     <hr />
       <h5><strong>· 个人基本信息</strong></h5 >
   <div class="row"> 

      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         性别
        </dt> 
        <dd>
          {{if data.identityInfo!=null}}
         {{data.identityInfo.gender}}
         {{/if}}
        </dd> 
        <dt>
         出生日期
        </dt> 
        <dd>
            {{if data.identityInfo!=null}}
        {{data.identityInfo.strBirthDay}}
        {{/if}}
        </dd> 
        <dt>
         婚姻状况
        </dt> 
        <dd>
            {{if data.identityInfo!=null}}
          {{data.identityInfo.maritalStatus}}
          {{/if}}
        </dd> 
        <dt>
         手机号码
        </dt> 
        <dd>
            {{if data.identityInfo!=null}}
         {{data.identityInfo.phone}}
         {{/if}}
        </dd> 
        <dt>
         户籍地址
        </dt> 
        <dd>
            {{if data.identityInfo!=null}}
         {{data.identityInfo.residenceAddress}}
         {{/if}}
        </dd>
       </dl>
      </div> 
      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         单位电话
        </dt> 
        <dd>
          {{if data.identityInfo!=null}}
       {{data.identityInfo.companyPhone}}
        {{/if}}
        </dd> 
        <dt>
        住宅电话
        </dt> 
        <dd>
          {{if data.identityInfo!=null}}
       {{data.identityInfo.housePhone}}
        {{/if}}
        </dd> 
        <dt>
       学位
        </dt> 
        <dd>
          {{if data.identityInfo!=null}}
         {{data.identityInfo.education}}
          {{/if}}
        </dd> 
        <dt>
         通讯地址
        </dt> 
        <dd>
          {{if data.identityInfo!=null}}
        {{data.identityInfo.contactAddress}}
         {{/if}}
        </dd> 
       </dl>
      </div> 
     </div>  
     <hr />
      <h5><strong>· 配偶信息</strong></h5 >
   <div class="row"> 

      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         姓名
        </dt> 
        <dd>
        {{if data.spouseInfo!=null}}
         {{data.spouseInfo.name}}
        {{/if}}
        </dd> 
        <dt>
         工作单位
        </dt> 
        <dd>
         {{if data.spouseInfo!=null}}
        {{data.spouseInfo.company}}
         {{/if}}
        </dd> 
        <dt>
         联系电话
        </dt> 
        <dd>
         {{if data.spouseInfo!=null}}
         {{data.spouseInfo.phone}}
          {{/if}}
        </dd> 
        
       </dl>
      </div> 
      <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         证件类型
        </dt> 
        <dd>
         {{if data.spouseInfo!=null}}
       {{data.spouseInfo.cardType}}
        {{/if}}
        </dd> 
        <dt>
        证件号码
        </dt> 
        <dd>
         {{if data.spouseInfo!=null}}
         {{data.spouseInfo.idcard}}
          {{/if}}
        </dd> 
        
       </dl>
      </div> 
     </div>  
     <hr />
      <h5><strong>· 居住信息</strong></h5 >
     <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      <th>编号</th> 
      <th>居住地址</th> 
      <th>居住状态</th> 
      <th>信息更新日期</th> 
      
     </tr> 
    </thead> 
    <tbody> 
     {{if data.residenInfoList!=null}}
     {{each data.residenInfoList}}
     <tr> 
      <td>{{$value.residenNo}}</td> 
      <td>{{$value.address}}</td>   
      <td>{{$value.livingState}}</td> 
      <td>{{$value.strUpdateTime}}</td> 
     </tr> 
     {{/each}}
      {{/if}}
    </tbody> 
   </table>
    
    <hr />
      <h5><strong>· 职业信息</strong></h5 >
     <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      <th>编号</th> 
      <th>工作单位</th> 
      <th>工作地址</th> 
      <th>职业</th> 
      <th>行业</th> 
      <th>职务</th> 
      <th>职称</th> 
      <th>进入本单位年份</th> 
      <th>信息更新日期</th> 
      
     </tr> 
    </thead> 
    <tbody> 
      {{if data.jobInfoList!=null}}
     {{each data.jobInfoList}}
     <tr> 
      <td>{{$value.jobNo}}</td> 
      <td>{{$value.workUnit}}</td>   
      <td>{{$value.address}}</td> 
      <td>{{$value.job}}</td> 
      <td>{{$value.industry}}</td> 
      <td>{{$value.duty}}</td> 
      <td>{{$value.jobTitle}}</td> 
      <td>{{$value.incomeDate}}</td> 
      <td>{{$value.strUpdateTime}}</td>     
       </tr> 
    {{/each}}
     {{/if}}
    </tbody> 
   </table>
     <hr />
      
     
   <h5><strong>· 信息概要</strong></h5 >
   <div class="row"> 

      <div class="col-xs-6 col-md-3">
       <dl class="dl-horizontal"> 
        <dt>
         住房贷款笔数
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
           {{data.creditHint.houseLoanCount}}
          {{/if}}
        </dd> 
        <dt>
         商用(包括商住两用)房贷款笔数
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
          {{data.creditHint.businessHouseLoanCount}}
            {{/if}}
        </dd> 
        <dt>
         其他贷款笔数
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
          {{data.creditHint.otherLoanCount}}
            {{/if}}
        </dd> 
       </dl>
      </div> 
         <div class="col-xs-6 col-md-3">
       <dl class="dl-horizontal"> 
        <dt>
         首笔贷款发放月份
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
          {{data.creditHint.firstLoanGiveDate}}
            {{/if}}
        </dd> 
        <dt>
         贷记卡账户数
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
        {{data.creditHint.creditCardCount}}
          {{/if}}
        </dd> 
        <dt>
         首张贷记卡发卡月份
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
          {{data.creditHint.firstCreditCardGiveDate}}
            {{/if}}
        </dd>
       </dl>
      </div> 
      <div class="col-xs-6 col-md-3">
       <dl class="dl-horizontal"> 
        <dt>
         准贷记卡账户数
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
       {{data.creditHint.permitCreditCardCount}}
        {{/if}}
        </dd> 
        <dt>
         首张准贷记卡发卡月份
        </dt> 
        <dd>
           {{if data.creditHint!=null}}
         {{data.creditHint.firstPermitCreditCardGiveDate}}
           {{/if}}
        </dd>
       </dl>
      </div> 
    
      <div class="col-xs-6 col-md-3">
       <dl class="dl-horizontal"> 
        <dt>
         担保笔数
        </dt> 
        <dd>
          {{if data.foreignEnsure!=null}}
        {{data.foreignEnsure.ensureCount}}    
         {{/if}}           
        </dd> 
        <dt>
         担保金额
        </dt> 
        <dd>
         {{if data.foreignEnsure!=null}}
          {{data.foreignEnsure.ensureAmount}}
           {{/if}}       
        </dd>
        <dt>
         担保本金余额
        </dt> 
        <dd>
         {{if data.foreignEnsure!=null}}
          {{data.foreignEnsure.ensureRemainAmount}}
           {{/if}}       
        </dd>
       
       </dl>
      </div> 
         <div class="col-xs-6">
       <dl class="dl-horizontal"> 
        <dt>
         本人声明数目
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
         {{data.creditHint.declareCount}}
           {{/if}}      
        </dd> 
        <dt>
         异议标注数目
        </dt> 
        <dd>
          {{if data.creditHint!=null}}
         {{data.creditHint.dissentLableCount}}
          {{/if}}     
        </dd> 
       </dl>
      </div> 
     </div> 
      <hr />
       
     <div class="row"> 
      <div class="col-xs-6 col-md-4">
        <h5 style="margin-left: 100px"><strong>· 未结清贷款信息汇总</strong></h5 >
       <dl class="dl-horizontal"> 
        <dt>
         贷款法人机构数
        </dt> 
        <dd>
         {{if data.unClearLoanInfo!=null}}
          {{data.unClearLoanInfo.daiKuanFaRenJiGouCount}}
           {{/if}}     
        </dd> 
        <dt>
         贷款机构数
        </dt> 
        <dd>
          {{if data.unClearLoanInfo!=null}}
          {{data.unClearLoanInfo.daiKuanJiGouCount}}
           {{/if}}    
        </dd> 
        <dt>
         笔数
        </dt> 
        <dd>
          {{if data.unClearLoanInfo!=null}}
            {{data.unClearLoanInfo.loanCount}}
             {{/if}}    
        </dd> 
        <dt>
         合同总额
        </dt> 
        <dd>
          {{if data.unClearLoanInfo!=null}}
          {{data.unClearLoanInfo.contractAmount}}
           {{/if}}    
        </dd> 
        <dt>
         余额
        </dt> 
        <dd>
          {{if data.unClearLoanInfo!=null}}
         {{data.unClearLoanInfo.remainAmount}}
          {{/if}}    
        </dd> 
        <dt>
         最近六个月平均应还款
        </dt> 
        <dd>
          {{if data.unClearLoanInfo!=null}}
         {{data.unClearLoanInfo.last6MonthAvgShoudRefund}}
          {{/if}}    
        </dd> 
       </dl>
      </div> 
        <div class="col-xs-6 col-md-4">
        <h5 style="margin-left: 100px"><strong>· 未销户贷记卡信息汇总</strong></h5 >
       <dl class="dl-horizontal"> 
        <dt>
         发卡法人机构数
        </dt> 
        <dd>
          {{if data.unCancelCreditCardInfo!=null}}
         {{data.unCancelCreditCardInfo.faKaFaRenJiGouCount}}
          {{/if}}    
        </dd> 
        <dt>
         发卡机构数
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
           {{data.unCancelCreditCardInfo.faKaJiGouCount}}
            {{/if}}    
        </dd> 
        <dt>
         账户数
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
        {{data.unCancelCreditCardInfo.accountCount}}
         {{/if}}    
        </dd> 
        <dt>
         授信总额
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
        {{data.unCancelCreditCardInfo.loanRightAmount}}
         {{/if}}    
        </dd> 
        <dt>
         单家行最高授权信额
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
         {{data.unCancelCreditCardInfo.highestLoanRightAmount}}
          {{/if}}    
        </dd> 
        </dd> 
        <dt>
         单家行最低授权信额
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
         {{data.unCancelCreditCardInfo.lowestLoanRightAmount}}
          {{/if}}    
        </dd> 
        <dt>
         已用额度
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
         {{data.unCancelCreditCardInfo.usedAmount}}
          {{/if}}    
        </dd> 
        <dt>
         最近6个月平均使用额度
        </dt> 
        <dd>
           {{if data.unCancelCreditCardInfo!=null}}
       {{data.unCancelCreditCardInfo.last6AvgUseAmount}}
        {{/if}}    
        </dd> 
       </dl>
      </div> 
         <div class="col-xs-6 col-md-4">
        <h5 style="margin-left: 100px"><strong>· 未销户准贷记卡信息汇总</strong></h5 >
       <dl class="dl-horizontal"> 
        <dt>
         发卡法人机构数
        </dt> 
        <dd>
          {{if data.unCancelPermitCreditCardInfo!=null}}
         {{data.unCancelPermitCreditCardInfo.faKaFaRenJiGouCount}}
         {{/if}}   
        </dd> 
        <dt>
         发卡机构数
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
           {{data.unCancelPermitCreditCardInfo.faKaJiGouCount}}
           {{/if}}   
        </dd> 
        <dt>
         账户数
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
           {{data.unCancelPermitCreditCardInfo.accountCount}}
           {{/if}}   
        </dd> 
        <dt>
         授信总额
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
          {{data.unCancelPermitCreditCardInfo.loanRightAmount}}
          {{/if}}   
        </dd> 
        <dt>
         单家行最高授权信额
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
         {{data.unCancelPermitCreditCardInfo.highestLoanRightAmount}}
         {{/if}}   
        </dd> 
        <dt>
         单家行最低授权信额
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
         {{data.unCancelPermitCreditCardInfo.lowestLoanRightAmount}}
         {{/if}}   
        </dd> 
        <dt>
        透支余额
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
          {{data.unCancelPermitCreditCardInfo.overdraftAmount}}
          {{/if}}   
        </dd> 
        <dt>
         最近6个月平均透支余额
        </dt> 
        <dd>
         {{if data.unCancelPermitCreditCardInfo!=null}}
         {{data.unCancelPermitCreditCardInfo.last6AvgOverdraftAmount}}
         {{/if}}   
        </dd> 
       </dl>
      </div> 
      
     </div>  
    </div> 
   </div> 
   

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">逾期情况</h3>
  </div>
  <div class="panel-body">
   <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      <th>类型</th> 
      <th>笔数</th> 
      <th>月份数</th> 
      <th>单月最高逾期总额</th> 
      <th>最长逾期月数</th> 
      
     </tr> 
    </thead> 
    <tbody> 
     <tr> 
      <th>贷款</th> 
      <td>
       {{if data.loanOverdue!=null}}
          {{data.loanOverdue.accountCount}}
       {{/if}}   
      </td> 
      <td> 
       {{if data.loanOverdue!=null}}
          {{data.loanOverdue.monthCount}}
       {{/if}}   
       </td> 
      <td> 
       {{if data.loanOverdue!=null}}
          {{data.loanOverdue.highestOverdueAmount}}
       {{/if}}  
        </td> 
      <td> 
       {{if data.loanOverdue!=null}}
          {{data.loanOverdue.highestOverdueMonthCount}}
       {{/if}}  
        </td> 
     </tr> 
      <tr> 
      <th>贷记卡</th> 
      <td>
        {{if data.creditCardOverdue!=null}}
          {{data.creditCardOverdue.accountCount}}
       {{/if}} 
       </td> 
      <td>
        {{if data.creditCardOverdue!=null}}
          {{data.creditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
      <td>
        {{if data.creditCardOverdue!=null}}
          {{data.creditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
      <td>
        {{if data.creditCardOverdue!=null}}
          {{data.creditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
     </tr> 
      <tr> 
      <th>准贷记卡</th> 
      <td>
       {{if data.permitCreditCardOverdue!=null}}
          {{data.permitCreditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
      <td>
        {{if data.permitCreditCardOverdue!=null}}
          {{data.permitCreditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
      <td>
        {{if data.permitCreditCardOverdue!=null}}
          {{data.permitCreditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
      <td>
        {{if data.permitCreditCardOverdue!=null}}
          {{data.permitCreditCardOverdue.accountCount}}
       {{/if}} 
      </td> 
     </tr> 
    </tbody> 
   </table>
  </div>
</div>
     <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">贷款明细</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      <th>本金余额</th> 
      <th>账户状态、状态</th> 
      <th>当前逾期金额</th> 
      <th>当前逾期期数</th>
      <th>五级分类</th> 
      <th>最近一次还款日期</th>
      <th>本月实还款</th> 
      
      
      <th>剩余还款期数</th> 
      <th>本月应还款</th> 
      <th>应还款日</th>
		 <th>逾期31—60天未还本</th>
      <th>逾期61—90天未还本金</th>
      <th>逾期91—180天未还本金</th>
      <th>逾期180天以上未还本金</th>
      
     </tr> 
    </thead> 
    <tbody> 
  {{if data.loanInfoList!=null}}
     {{each data.loanInfoList}}
     <tr> 
      <td>{{$value.Balance}}</td> 
      <td>{{$value.accountStatus}}</td> 
      <td>{{$value.currentOverdueAmount}}</td> 
      <td>{{$value.currentOverduePeriods}}</td> 
      <td>{{$value.fiveCategories}}</td> 
      <td>{{$value.latestRepaymentDate}}</td>  
      <td>{{$value.paidInAmountTheMonth}}</td>
      <td>{{$value.remainingRepaymentPeriods}}</td> 
      <td>{{$value.repayableAmountTheMonth}}</td> 
      <td>{{$value.repayableDate}}</td> 
       <td>{{$value.rincipleAmount31_60DaysPastDue}}</td>  
      <td>{{$value.principleAmount61_90DaysPastDue}}</td>     
      <td>{{$value.principleAmount91_180DaysPastDue}}</td> 
      <td>{{$value.principleAmount180DaysPlusPastDue}}</td> 
     </tr>  
       {{/each}}
     {{/if}}
    </tbody> 
   </table>
  </div>
</div>
          <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">贷记卡明细</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      
      <th>账户状态、状态</th> 
      <th>最近6个月平均使用额度</th> 
      <th>业务号</th>
      <th>发卡机构</th> 
      <th>已用额度</th>
      <th>币种</th> 
      
      
      <th>当前逾期金额</th> 
      <th>当前逾期期数</th> 
      <th>担保方式</th>
		 <th>发卡日期</th>
      <th>最近一次还款日期</th>
      <th>授信额度</th>
      <th>最大使用额度</th>
      <th>本月实还款</th>
      <th>本月应还款</th>
      <th>共享额度</th>
      <th>状态截止日</th>
      <th>账单日</th>
      
     </tr> 
    </thead> 
    <tbody> 
  {{if data.creditCardList!=null}}
     {{each data.creditCardList}}

     <tr> 
      <td>{{$value.accountStatus}}</td> 
      <td>{{$value.averageConsumedCreditInRecent6Months}}</td> 
      <td>{{$value.businessNo}}</td> 
      <td>{{$value.cardIssuer}}</td> 
      <td>{{$value.consumedCredit}}</td> 
        <td>{{$value.currency}}</td>  
        <td>{{$value.currentOverdueAmount}}</td>  
       
      <td>{{$value.currentOverdueInstallment}}</td> 
      <td>{{$value.guaranteeMode}}</td> 
      <td>{{$value.issueDate}}</td> 

      <td>{{$value.latestRepaymentDate}}</td> 
    
      <td>{{$value.lineOfCredit}}</td> 
      <td>{{$value.maximumUseCredit}}</td> 
      <td>{{$value.paidInAmountOfTheMonth}}</td> 
      <td>{{$value.repayableAmountOfTheMonth}}</td>
      <td>{{$value.sharedCredit}}</td> 
      <td>{{$value.stateDeadlineDay}}</td> 
      <td>{{$value.statementDate}}</td> 
      {{/each}}
     {{/if}}
    </tbody> 
   </table>
  </div>
</div>
               <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">准贷记卡明细</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-striped" > 
    <thead> 
     <tr> 
      
    
      <th>最近6个月平均透支余额</th> 
      <th>最近一次还款日期</th>
      <th>最大透支余额</th> 
      <th>透支余额</th>
      <th>透支180天以上未付余额</th> 
		 <th>本月实还款</th>
      <th>共享额度</th>
      <th>账单日</th>
      
     </tr> 
    </thead> 
    <tbody> 

     {{if data.semiCreditCardList!=null}}
     {{each data.semiCreditCardList}}

     <tr> 
      <td>{{$value.averageOverdraftBalanceInRecent6Months}}</td> 
      <td>{{$value.latestRepaymentDate}}</td> 
      <td>{{$value.maximumOverdraftBalance}}</td> 
      <td>{{$value.overdraftBalance}}</td> 
      <td>{{$value.overdraftBalance180DaysPlusUnpaid}}</td> 
      <td>{{$value.paidInAmountOfTheMonth}}</td> 
      <td>{{$value.sharedCredit}}</td> 
      <td>{{$value.statementDate}}</td> 
     </tr>  
     {{/each}}
     {{/if}}
    </tbody> 
   </table>
  </div>
</div>

     <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">查询记录</h3>
  </div>
  <div class="panel-body">
	
   <table class="table table-bordered table-hover table-striped" > 
    <thead> 

     <tr>      
      <th>查询原因</th> 
      <th>查询日期</th> 
		 <th>查询操作员</th>       
     </tr> 
   
    </thead> 
    <tbody> 
 {{if data.inquiryRecordList!=null}}
     {{each data.inquiryRecordList}}
     <tr>       
      <td>{{$value.queryCause}}</td> 
      <td>{{$value.queryDate}}</td> 
		 <td>{{$value.queryOperator}}</td>
     </tr>
       {{/each}}
     {{/if}}
    </tbody> 
   </table>

  </div>
</div>

  </div>  
</script>
    <script>
    //获取地址栏参数
     function GetQueryString(name) {
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
   }


   // 初始化内容
   $(function() {

     var id=GetQueryString("id");
     var wordType=GetQueryString("wordType");
     $.ajax({
            url:Global[evn].report_api_url+"/creditreport-parser-api/findPersonCreditById",
             type: "POST",
             dataType: 'json',
             async:false,
            data:{id:id,wordType:wordType},
            success:function (data) {
                // 如果不写jsonpCallback 那么默认调用的是success方法
                console.log(data);
                // 读取对象
                var weatherResult = data;
                 // console.log(weatherResult);
                // 调用模板
               var str = template('template',weatherResult);             
                $('#templateDiv').html("").append(str);
            }
        });
    });

    </script> 
 </body>
</html>